* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
}


img {
    margin-right: 20px;
}

.active {
    all: unset;
    padding: 10px 15px;
    background-color: #2b41f0;
    color: white;
    font-size: 18px;
    border-radius: 14px;
}


a {
    color: #fff;
}

form {
    width: 500px;
    margin: 30px auto;
}

h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
}

input {
    width: 321px;
    height: 42px;
    border: 2px solid #007FFF;
    border-radius: 10px;
    padding: 0 20px;

}

button {
    width: 155px;
    height: 42px;
    background: #0071E3;
    border-radius: 10px;
    border: 1px solid transparent;
    color: white;

    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 50px auto;
    gap: 20px
}


.item {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 1px solid black;
}

.item .top {
    width: 100%;
    height: 200px;
}

.item .top img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 14px;
    background-color: black;
    width: 100%;
    height: 60%;
    min-height: 250px;
}

.item .bottom h3 {
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.item .bottom p {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.56);
}

.item .bottom .btn {
    /* padding: 17px 30px; */
    border-radius: 14px;
    color: black;
    background-color: white;
    width: 100%;
    font-size: 18px;
}

.active-btn {
    background-color: #007FFF !important;
    color: white !important;
}